@media print {
    #page-wrapper {
        max-width:100%;
        margin:0;
    }

    header, aside#inhpoudsopgave, nav#top, div#title {
        display: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:visited {
        color: black;
    }



    body {
        font-size: 10pt;
        line-height: 1.4;
        color: black;
        margin: 0;
        padding: 0;
        background-color: white;
    }
}