:root {
    --dark-grey:#17171a;
    --light-grey:#f5f4f7;
    --medium-grey:#afafaf;
    --orange: #f58220;
    --blue:#343368;
    --code-color:#dcf0ff;

      
    /* font-family: "IBM Plex Sans", sans-serif; */
    font-family: "BuenosAires", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9rem ;
    color: var(--blue);

    scroll-behavior: smooth;

}


body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5rem; 
    overflow: scroll;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1rem;
    text-wrap: nowrap;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

h1[id], h2[id], h3[id]{
    scroll-margin-top: 300px; /* Pas deze waarde aan aan de hoogte van je vaste header, plus een beetje extra */
}

div#page_wrapper, div#nav_wrapper {
    max-width:1200px;
    margin:0 auto 0 auto;
} 

main {
    display: flex;
    flex-direction: row;
    /* flex: 2; */
    /* position:relative; */
    margin:0rem auto 0rem auto;
    background-color: white;
    /* padding: 0.5rem 2rem 2rem 2rem; */
    justify-content: space-between;
}

div.section {
    display:none;
    /* flex: 1 1 200px; */
    width:100%;
    align-items: top;
}

div#title {
    display:block
}

div#content {
    display: flex;
    flex-direction: column;
    /* flex: 0 0 250px; */
    padding:2rem 2rem 2rem 2rem;
    min-width:290px;
    width:100%;

}

header {
    box-sizing: border-box;
    width:100%;
    height:60px;
    max-height:60px;
    position:sticky;
    top:0;
    z-index: 100;
    color: white;
    background-color: var(--blue);
}

/* header div#title h1{
    font-weight: 700;
    font-size:1.5rem;
    width:100%
} */

nav#top {
    max-width:1200px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin:0 1rem 0 1rem;
    padding:0;
}

nav#side {
    display:none;
}   

nav#top ul.hide {
    display:none;
}

nav#side img {
    display:none;
    position:relative;
    top:20px;
    left:2rem;
}


nav#top ul {
    list-style-type: none;
    margin:0 0 0 0;
    padding:1rem 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align : right;
}   

nav#top ul li {
    box-sizing: border-box;
    padding:0;
}

nav#top ul li a, nav#side ul li a {
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-wrap: nowrap;
    padding:0 0 0.3rem 0;
    margin:0 0.2rem 0 0.8rem;
}

nav#top ul li a.navlinks:visited, nav#side ul li a.navlinks:visited {
    color: white;
} 

nav#top ul li a.navlinks:hover, 
nav#top ul li a.navlinks.active, 
nav#side ul li a.navlinks:hover, 
nav#side ul li a.navlinks.active {
    /* background-color: var(--orange); */
    border-bottom: #f58220 3px solid;
    padding-bottom:5px;
    /* border-radius: 0.3rem; */
}

.toc a:hover,
.toc a.active {
    /* background-color: var(--orange); */
    border-bottom: #f58220 1.5px solid;
    padding-bottom:1px;
    /* border-radius: 0.3rem; */
}

a.active {
    /* background-color: var(--orange);
    border-radius: 0.3rem; */
    border-bottom: #f58220 2px solid;

}

aside#inhoudsopgave {
    display:block;
    min-width: 250px;
    min-height: calc(100vh - 60px - 3rem);
    background-color: var(--light-grey);
    padding: 1rem;
    text-wrap: nowrap;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

aside#hiddeninhoudsopgave {
    display:none;
}

aside#inhoudsopgave a.panel, aside#hiddeninhoudsopgave a.panel {
    display:inline-block;
    background-color: white;
    border-radius: 0.2rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

aside#hiddeninhoudsopgave a {
    position: relative;
    top: 1rem;
    left: 1rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    margin-right:20px;
}


div.toc ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 2rem;
}

div.toc ul li a {
    text-decoration: none;
    color: var(--dark-grey);
}

.green {
    background-color: lightgreen;
}

:target {
    display:block
}

/* :target:has(div.section) {
    display:block
} */

div.section:has(:target) {
    display:block
}

div.show {
    display:block;
}

div.hide {
    display: none;
}

/* pre[class*="language-"] > code {
    overflow-x:scroll;
} */

pre[class*="language-"] {
    background-color: var(--light-grey);
    font-size:0.9rem;
	overflow-x: auto; /* Voegt een horizontale scrollbalk toe wanneer nodig */
	white-space: pre; /* Behoudt witruimte en voorkomt woordafbreking */
}

pre[class*="language-"] code[class*="language-"] {
    display:block;
    overflow-x: auto; /* Voegt een horizontale scrollbalk toe wanneer nodig */
    white-space: pre; /* Behoudt witruimte en voorkomt woordafbreking */
}

code {
    background-color: var(--code-color);
    padding: 0.15rem 0.3rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    width: 100%;
}

nav#top #hight_indicator {
    display:block;
    position:relative;
    top:21px;
    line-height:0.2rem;
    height:1px;
    background-color: var(--dark-grey);
    color: white;
    font-size: 0.5rem;
    border-radius: 0.3rem;
    padding:0.3rem 0.3rem 0.5rem 0.3rem;
}

/* #panel-in, #panel-out {
    height: 0;
    width: 0;
} */

#panel-in img, #panel-out img {
    position:relative; 
    padding:2px; 
    width:10px; 
    height:10px; 
    top:5px; 
    right:25px;
}

#panel-in img {
    transform: rotate(180deg)
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid var(--dark-grey);
    padding:4px;
}

blockquote {
    border-left: 4px solid var(--blue);
    margin-left: 0;
    margin-right: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: var(--dark-grey);
    background-color: var(--light-grey);
}

hr {
    border: 0;
    height: 1px;
    background: var(--medium-grey);
    margin: 2rem 0 2rem 0;
}

img {
    max-width:100%;
    height: auto;
    display:block;
    margin:0 auto 0 auto;
}


    nav#side {
        max-width:300px;
        display:none;
        flex-direction: column;
        justify-content: flex-start;
        margin:0 0 0 0;
        padding:0;
        background-color: var(--blue);
        position: absolute;
        top:0px;    
    }

nav#side ul {
        display:none;
        box-sizing: border-box;
        margin:0;
        padding:3rem 0 1rem 0rem;
        flex-direction: column;
        text-align : left;
        justify-content: flex-start;
    }

    nav#side ul li {
        padding:0.3rem 1rem 0.3rem 1rem;
    }

    nav#side ul li a.navlinks {
        padding:0.3rem 0.3rem 0.3rem 0.3rem;
        margin:0;
    }

    nav#side img {
        display:none;
        margin:0px 1rem 0px 0px;
    }

@media (min-width:650px) and (max-width:750px) {

    nav#top {
        display:none;
    }

    nav#side {
        display:flex;
    }
    nav#side img {
        display:block;
    }
    
}

@media (max-width:650px) {

    nav#top {
        display:none;
    }

    nav#side {
        display:flex; 
    }

    nav#side img {
        display:block;
        margin:0px 1rem 0px 0px;
    }
    /* nav#side ul {
        display:none;
        box-sizing: border-box;
        margin:0;
        padding:3rem 0 1rem 0rem;
        flex-direction: column;
        text-align : left;
        justify-content: flex-start;
    } */


    aside#inhoudsopgave {
        position: absolute;
        top:60px;  
        right:0px;
        display:block;
    }

    #panel-in img, #panel-out img {
        position:absolute; 
        top:65px; 
        right:0px;
        width:25px; 
        height:10px; 

    }
}
