{% extends "page.njk" %}

{% block layout %}
<div class="deltionv2-center-template">
    <div class="deltionv2-template-container">
        <section class="deltionv2-banner">
            <div class="deltionv2-content">
                <div class="deltionv2-content-header">
                    <h2>{{ course_title }}</h2>
                    <a href="/">Home</a>
                </div>
            </div>
        </section>
        <section class="deltionv2-information-section">
            <div class="deltionv2-introtext">

            {{ content | safe}}

            </div>
            <div class="deltionv2-contentarea"><img src="{{ afbeelding }}" alt="{{ afbeelding }}" /></div>
        </section>
        <section class="deltionv2-buttoncollection">
            {% for p in collections[tags] | postsAscending %}
            <div class="deltionv2-navigationbutton"><a href="{{ p.url }}" {% if p.url==page.url %}aria-current="page"
                    data-state="active" {% endif %}><img src="https://deltionict.github.io/easy_canvas/_assets/arrow-right-o.svg" alt="Arrow" />{{ p.data.title }}<br /></a></div> 
                    <!-- easy_canvas  arrow right - /_assets/arrow-right-o.svg -->
                    <!-- canvas  arrow right - https://leeromgeving.deltion.nl/courses/4128/files/109196/preview -->
            {% endfor %}
        </section>
    </div>
</div>

{% endblock %}