{% extends "page.njk" %}

{% block layout %}
    <main>

        <div id="content">
        <div class="section" id="title">
            <h1>{{ course_title }}</h1>
        </div>
        {{ content | safe }}
        {% block leerdoelen %}{% endblock %}
        </div>
        <aside id="inhoudsopgave">
            <span><b>Inhoudsopgave</b></span>
            {{ content | toc | safe }}        
         </aside> 
         <div id="panel-in" class="panel" onclick="showPanel()"><img style="max-width: initial;" eleventy:ignore src="/_assets/2pijltjes_f58220.svg" alt="inklappen"></div>
         <div id="panel-out" class="panel" onclick="hidePanel()"><img style="max-width: initial;" eleventy:ignore src="/_assets/2pijltjes_f58220.svg" alt="uitklappen"></div>
    </main>
{% endblock %}

