<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <link rel="manifest" href="manifest.json" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set css %}
      {% include "css/fonts.njk" %}
      {% include "css/prism.css" %}
      {% include "css/style.css" %}
      {% include "css/introductie.css" %}
      {% include "css/leerdoelen.njk" %}
      {% include "css/print.css" %}
    {% endset %}
    {% set js %}
      {% include "js/panel.js" %}
      {% include "js/print.js" %}
      {% include "js/hoogte.js" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    <title>{{ course_title }}</title>
</head>
<body>
    <header> 
      <div id="nav_wrapper">    
      <nav id="top">   
        <ul>
      {% for p in collections[tags] | postsAscending %}
          <li><a href="{{ p.url }}#{{ p.data.title | slugify }}" {% if p.url==page.url %} class="active" {% endif %}>{{ p.data.title }}</a></li>
      {% endfor %}
          <li><a href="https://github.com/DeltionICT/easy_canvas/blob/main/{{ page.inputPath }}"><span
                        style="font-family: 'Material Icons';">edit</span></a></li>
        </ul>
        <div id="hight_indicator">1024</div>
      </nav>
      <nav id="side">   
        <img src="/_assets/hamburger_white.svg" alt="menu"  eleventy:widths="20">
        <ul>
      {% for p in collections[tags] | postsAscending %}
          <li><a href="{{ p.url }}#{{ p.data.title | slugify }}" {% if p.url==page.url %} class="active" {% endif %}>{{ p.data.title }}</a></li>
      {% endfor %}
        </ul>
      </nav>
      </div>
  </header>
  <div id="page_wrapper">
  {% block layout %}{% endblock %} 
   </div>
    <script>
     {{  js | jsmin | safe }}
    </script>
    </body> 
</html>